.main-menu-bar {
	padding: 0;
	margin: 0;
	background-color: #DBF931;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    list-style-type: none;
}

.main-menu-option {
	float: left;
}

.main-menu-option a {
	display: block;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

.main-menu-option a:hover {
	background-color: #D7DFA6 ;
}

.content {
  	padding: 20px 0px 20px 0px;
  	margin-top: 10px;
    margin-left: 20px;
}